.container{
  width: 100%;
  overflow-y: hidden;
  padding: 20px 0px;

  .top-header{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dfe1e5;

    &-left{
      margin-left: 20px;
      display: flex;
      align-items: center;

      img{
        height: 30px;
        width: 92px;
        align-self: flex-start;
        margin-top: 10px;
      }

      &-search{
        width: 750px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 30px;

        &-input{
          flex: 1;
          width: 100%;
          margin-bottom: 20px;
        }

        &-options{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &-left{
            display: flex;
            align-items: center;
            margin-right: 80px;

            div{
              display: flex;
              align-items: center;
              padding: 5px;
              margin: 0 10px 0 0;

              &.active{
                border-bottom: 3px solid #1a73e8;

                a{
                  color: #1a73e8;
                }
              }

              a{
                text-decoration: none;
                font-size: 12px;
                color: #5f6368;
                margin-left: 10px;
              }

              mat-icon{
                font-size: 18px;
                height: 16px;
                width: 16px;
                color: #8d9499;
              }


            }
          }

          &-right{
            display: flex;
            justify-content: flex-end;
            > * {
              margin-right: 30px;
              text-decoration: none;
              color: #5f6368;
            }
          }
        }

      }
    }

    &-right{
      align-self: flex-start;
      display: flex;
      align-items: center;

      button{
        outline: none;
        background-color: #1a73e8;
        border: none;
        border-radius: 4px;
        padding: 10px 25px;
        color: #fff;
        font-weight: normal;
        font-size: 14px;
        margin-right: 40px;
      }

      mat-icon{
        color: #727272;
        margin-right: 10px;
      }
    }
  }

  .search_results{
    max-width: 700px;
    margin-left: 150px;

    &_header{
      margin:10px 0 20px 0;
      color: gray;
    }

    &_body{
      a.search_results_body-link{
        text-decoration: none;
        color: #282124;
        text-transform: lowercase;
        margin-bottom: 5px;
        display: block;
      }

      a.search_results_body-heading{
        font-size: 20px;
        line-height: 1.3;
        color: #1a73e8;
        text-decoration: none;

        &:hover{
          text-decoration: underline;
          cursor: pointer;
        }
      }

      div.search_results_body-details{
        color: #4d5156;
        margin-bottom: 20px;
      }
    }
  }
}
