.home-container{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;

  a{
    text-decoration: none;
    color: #727272;
  }

  //Header Section

  header{
    width: 100%;
    display: flex;
    padding: 20px;
    margin-left: auto;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;

    a{
      color:#272727;
    }

    > * {
      margin-right: 18px;
    }

    button{
      outline: none;
      background-color: #4386FA;
      border:none;
      padding: 7px 15px;
      font-weight: bold;
      color: #fff;
      font-size: small;
      margin-right: 40px;

      &:hover{
        cursor: pointer;
      }
    }

    mat-icon{
      color: #727272;
    }
  } // Header Ends

  // Main Section

  main{
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
      width: 272px;
    }

    .search-box{
      position: relative;
      width: 600px;
      margin-top: 25px;
    }

    .g-buttons{
      display: flex;
      justify-content: space-between;
      margin-top: 30px;
      position: relative;

      button{
        border: none;
        outline: none;
        padding: 10px 20px;
        margin-right: 10px;
        font-size: 14px;
        color: #5F6368;
        background-color: #f4f4f4;
        font-family: Arial, sans-serif;

        &:hover{
          cursor: pointer;
          border: 1px solid #c6c6c6;
          border-radius: 3px;
          box-shadow: 0 1px 1px rgba(black, .1);
        }
      }
    }
  }

}




