<div class="search-bar">
  <input type="text" name="search_term" [(ngModel)]="currentTermValue" value="{{ currentTermValue }}">

  <div [ngClass]="{'right-icon': rightIcon=='true','left-icon': rightIcon=='false'}">
    <mat-icon class="search_icon">search</mat-icon>
  </div>


  <button type="submit" style="display: none;"></button>
</div>
